.name{
    width: 100%;
    height: 750px;
    background-color: rgb(255, 254, 254);
    background-image: url(./images/kuku.jpg);
    background-repeat: no-repeat;
    background-size: 1350px 750px
}
.name h5{
    font-weight: 700;
    position: absolute;
    margin-left: 9rem;
    margin-top: 7.5rem;
    font-size: 1.2rem;
    /* font-size: medium; */
    letter-spacing: 0.1rem;
}
.name h1{
    font-size: 85px;
    font-weight: 620;
    /* font-family: sans-serif; */
    margin-left: 9rem;
    margin-top: 9.5rem;
    position: absolute;
}
.name h2{
    margin-top: 18rem;
    color: orange;
    margin-left: 9rem;
    position: absolute;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.name h3{
    color: #9f9f9f;
    margin-left: 9rem;
    margin-top: 22rem;
    position: absolute;
    font-weight: 450;
}
.check-resume{
    width: 15rem;
    height: 3rem;
    background-color: rgb(230, 161, 34);
    box-shadow: 0 15px 15px rgb(0 0 0 / 16%);
    border: 1px solid transparent;
    border-radius: 10rem;
    margin-left: 9rem;
    margin-top: 28rem;
    position: absolute;
    text-transform: uppercase;
    color: black;
    text-align: center;
    
}
.check-resume:hover{
    background-color: rgb(233, 220, 40);
}
.name h4{
    margin-top: 0.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 13px;
}
.projects{
    width: 100%;
    height: 600px;
    padding: 3rem;
    background-color: rgb(231 226 226);
}
.project-box{
    padding: 3rem;
    display: flex;
    position: relative;
    height: 15rem;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(135deg,#7bbef5 50%,#eec9b1);
}
.project-wrapper{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(23rem,0fr));;
    grid-gap: 4rem;
}
#projects{
    
}
.skills{
    width: 100%;
    height: 400px;
    background-color: rgb(46, 78, 78);
}
.contact{
    width: 100%;
    height: 300px;
    background-color: rgb(11, 105, 105);
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0;
}
body h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}